HCWB392_PRJ/project/EWARM/examples/BeaconRx/Debug
HCWB392_PRJ/project/EWARM/examples/BeaconRx/settings
HCWB392_PRJ/project/EWARM/examples/BeaconRx/HCWB392.dep
HCWB392_PRJ/project/EWARM/examples/BeaconRx/HCWB392.ewd
HCWB392_PRJ/project/EWARM/examples/BeaconRx/HCWB392.ewp
HCWB392_PRJ/project/EWARM/examples/BeaconRx/HCWB392.ewt
HCWB392_PRJ/project/EWARM/examples/BeaconRx/HCWB392.eww
HCWB392_PRJ/project/EWARM/examples/BeaconTx/Debug/
